@{
    ViewData["Title"] = "Car";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Car World</h1>
    <p>See <a href="https://www.google.com/search?q=Car&sxsrf=APwXEdd7dr1fmcKrV0XQyp7arMqLUfJ98w:1685785561268&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjE06_M6Kb_AhXTBIgKHWEHAqAQ_AUoAXoECAEQAw&biw=1501&bih=738&dpr=1.25" target="_blank" style="text-decoration: none;">my collection</a> now</p>
    <p>@Path</p>
</div>
