@using MVC_Basic.Areas.CarArea.Models
@model List<CarModel>
@{
    ViewData["Title"] = "Search";
    Layout = "_Layout";
}
@functions{
    public string GenLink(string key)
    {
        key = key.Replace(" ", "+");
        return $"https://www.google.com/search?q={key}&sxsrf=APwXEdc0Omk3dErsTnmW7Vh3zJuTzGwl3w:1685784812941&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiJtcXn5ab_AhUQAYgKHZVEA8QQ_AUoAXoECAEQAw&biw=1501&bih=738&dpr=1.25";
    }
}
<div class="text-center">
    <h1 class="display-4">Search</h1>
@if (Model == null)
{
        <p>See <a style="text-decoration: none;" asp-controller="Car" asp-action="Product">all my products</a> now</p>
    <p class="text-secondary">@this.Path</p>
}
else if (Model.Count == 0)
{
    <p class="alert alert-danger">Oops... No matching results</p>
}
else
{
    @foreach (var car in Model)
    {
        <div style="display: inline-block; margin: 10px 20px;"><a href=@GenLink(@car.Name) target="_blank" style="text-decoration: none;">@car.Name</a>:  $@car.Price</div>
    }
    <hr>
    <p><strong>Total: @Model.Count</strong></p>
}
</div>