@using MVC_Basic.Areas.CarArea.Models
@model List<CarModel>
@{
    ViewData["Title"] = "Search 2.0";
    Layout = "_Layout";
    var listCars = ViewBag.ListCars as List<CarModel>;
}
@functions{
    public string GenLink(string key)
    {
        key = key.Replace(" ", "+");
        return $"https://www.google.com/search?q={key}&sxsrf=APwXEdc0Omk3dErsTnmW7Vh3zJuTzGwl3w:1685784812941&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiJtcXn5ab_AhUQAYgKHZVEA8QQ_AUoAXoECAEQAw&biw=1501&bih=738&dpr=1.25";
    }
}
<div class="text-center">
    <h1 class="display-4">Search 2.0</h1>
@if (listCars == null)
{
    <p>See all cars in <a href="https://www.google.com/search?q=Car&sxsrf=APwXEdd7dr1fmcKrV0XQyp7arMqLUfJ98w:1685785561268&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjE06_M6Kb_AhXTBIgKHWEHAqAQ_AUoAXoECAEQAw&biw=1501&bih=738&dpr=1.25" target="_blank" style="text-decoration: none;">my collection</a> now</p>
}
else if (listCars.Count == 0)
{
    <p class="alert alert-danger">Oops... No matching results</p>
}
else
{
    @foreach (var car in listCars)
    {
        <div style="display: inline-block; margin: 10px 20px;"><a href=@GenLink(@car.Name) target="_blank" style="text-decoration: none;">@car.Name</a>:  $@car.Price</div>
    }
    <hr>
    <p><strong>Total: @listCars.Count</strong></p>
}
</div>